@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700';
* {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: darkslategray;
    overflow-x: hidden;
}
p, nav, a {
    font-family: 'Roboto';
}
hr {
    border: 1px solid #ececec;
    position: relative;
}

#section2 {
    padding-bottom: 100px;
    padding-top: 100px;
    padding: 50px;
    background-color: #e8eaf6;
}

#section2 a {
    color: white;
}

.indent {
    text-indent: 2%;
}

.pagination > .active {
    background: #607d8b !important;
}

.hero {
    background: url(https://upload.wikimedia.org/wikipedia/commons/e/e1/White_House_Washington.JPG);
    background-size: cover;
    height: 600px;
    width: 100%;
    line-height: 600px;
    text-align: left;
    margin-bottom: 50px;
}

.hero h2 {
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}

.hero-content {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: darkslategrey;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

nav a {
    color: white !important;
    font-weight: 500;
    text-transform: uppercase;
}

nav {
    background: #2b2b87 !important;
}

.brand-logo {
    font-size: 20px !important;
}

h4 {
    font-weight: 300;
    font-size: 2.4rem;
}

p {
    font-weight: 300;
    font-size: 20px;
}

.container-fluid {
    padding-left: 5%;
    padding-right: 5%;
}

.dark {
    background-color: rgb(244, 244, 244);
    padding: 50px;
}

.flat {
    color: #0097A7 !important;
    font-weight: 500;
    text-transform: uppercase;
}

.highlight {
    background-color: #2B2B87;
    width: 420px;
    color: white;
    padding: 10px;
    font-weight: 700;
    border-radius: 3px;
    transition: all 0.5s ease;
    text-align: center;
}

.highlight:hover {
    background: #3949AB;
    transition: all 0.5s ease;
    cursor: default;
    color: #fff;
}

.gunsense {
    background-color: #2B2B87;
    width: 135px;
    color: white;
    padding: 10px;
    font-weight: 700;
    border-radius: 3px;
    transition: all 0.5s ease;
    text-align: center;
}

.gunsense:hover {
    background: #3949AB;
    transition: all 0.5s ease;
    cursor: default;
    color: #fff;
}

.news {
    width: 340px !important;
}

.who {
    width: 290px !important;
}

.dems {
    width: 315px !important;
}

.join {
    width: 335px !important;
}

img {
    border-radius: 3px;
}
.issues {
    width: 240px !important
}
.side-nav a {
    color: darkslategrey !important;
}
@media screen and (max-width: 540px) {
    .highlight {
        width: auto !important
    }
}
.intro-issues {
    background: url(/election/img/GreenMountainWindFarm_Fluvanna_2004.jpg) center center;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 100px;
    text-align: center;
    color: white;
}
